.header {
    padding-top: 100px;
    padding-bottom: 94px;
    .row {
        font-family: Montserrat, sans-serif;
        color: #fff;
        .header-title {
            font-family: Poppins;
            font-size: 36px;
            font-weight: 600;
            line-height: 47px;
        }
        .header-content {
            color: $header_content_color;
            font-family: Poppins;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.whitepaper {
    border: 2px solid #fff;
    border-radius: $border-radius;
    font-family: Montserrat, sans-serif;
    color: #fff;
    margin-top: 20px;
    padding: 15px 25px;
    font-family: Poppins;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
        color: #0084E5;
        background-color: #FFFFFF;
    }
}

.bg-border {
    border-bottom: 1px solid white;
}

.subContent {
    padding-top: 20px;
    padding-bottom: 20px;
    iframe {
        width: 100%;
        height: 300px;
    }
}

.gradient {
    background-image: url(../img/svg/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background-white {
    background: white;
    box-shadow: 0 36px 43px 0 rgba(0, 0, 0, 0.06);
}

.parallax-container {
    height: 500px;
    width: 100%;
}

.bg-background {
    background-image: url(../img/svg/bg1.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
