.navbar {
    transition: all 0.2s ease;
    .container {
        font-family: Montserrat, sans-serif;
        @media screen and (min-width: 1450px) {
            max-width: 1370px;
        }
        .navbar-nav {
            .nav-link {
                color: $section_subTitle_color;
                padding-right: 1.25rem;
                padding-left: 1.25rem;
                font-family: Poppins-light;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                // text-transform: uppercase;
           }
        }
        .navbar-nav.nav-logo {
            flex-direction: row;
            .nav-logo-img {
                height: 45px;
                width: 45px;
                object-fit: contain;
                display: none;
                &.active {
                    display: block;
                }
            }
            .nav-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .nav-link {
                color: $section_subTitle_color;
                padding-right: .5rem;
                padding-left: 0;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
           }
           .nav-logo-flex {
               display: flex;
           }
           .nav-link.nav-logo {
               display: flex;
               align-items: center;
           }
           .nav-logo-flex {
                display: flex;
            }
        }
        .navbar-collapse {
            justify-content: flex-end;
        }
    }
}
