//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

// gradient

// color

$gradient_start:    #0E227B !default;
$gradient_middle:    #086DD6 !default;
$gradient_end:    #0870DA !default;

// font-color
$section_subTitle_color: #0084E5 !default;
$section_title_color: #3D465F !default;
$header_content_color: #A6E5F7 !default;

$section_subContent_color: #777777 !default;

$section_art_color: #A7ABBB !default;
$section-heading-color: #FEFEFD;

$section-token-color: #8F93A3 !default;
$section-border-color: #E4E6EB !default;

// range
$gradient_start_range:  0% !default;
$gradient_middle_range:  95% !default;
$gradient_end_range:  100% !default;

// degree
$gradient_degree:   76deg !default;

// height
$partner_height: 150px !default;

// radius
$team-member-radius: 5px;

// breakpoints
$custom-breakpoints: 991px;
$custom-lg-breakpoints: 992px;